/* style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(./images/wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

#board {
    width: 90vw; /* Responsive width */
    height: 90vw; /* Responsive height */
    max-width: 540px; /* Maximum width for large screens */
    max-height: 540px; /* Maximum height for large screens */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url(./images/soil.png);
    background-size: cover;
    margin: 20px auto;
    border: 3px solid whitesmoke;
    border-radius: 30px;
}

#start {
    width: 20vw;
    height: 5vh;
    max-width: 100px; /* Maximum width */
    max-height: 30px; /* Maximum height */
    background-color: aliceblue;
    border: 3px solid white;
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 1em;
}

#board div {
    width: 30vw; /* Responsive width */
    height: 30vw; /* Responsive height */
    max-width: 180px; /* Maximum width for large screens */
    max-height: 180px; /* Maximum height for large screens */
    background-image: url(./images/hole.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#board div img {
    width: 70%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {
    #start {
        width: 50vw;
        height: 7vh;
    }

    #board div {
        width: 40vw;
        height: 40vw;
    }
}
