body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(./images/wallpaper.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

#board {
    width: 540px; /* Fixed width for desktop */
    height: 540px; /* Fixed height for desktop */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url(./images/soil.png);
    background-size: cover;
    margin: 0 auto;
    border: 3px solid whitesmoke;
    border-radius: 30px;
}

#start {
    width: 100px;
    height: 30px;
    background-color: aliceblue;
    border: 3px solid white;
    border-radius: 30px;
    margin-bottom: 20px;
}

#board div {
    width: 180px;
    height: 180px;
    background-image: url(./images/hole.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#board div img {
    width: 140px;
    height: 140px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Media Queries for Responsive Design */

@media screen and (max-width: 768px) {
    #board {
        width: 80%; /* Responsive width */
        height: auto; /* Adjust height as needed */
        max-width: 400px; /* Maximum width for smaller screens */
        max-height: 400px; /* Maximum height for smaller screens */
    }

    #board div {
        width: calc(33.33% - 20px); /* Adjust for margins */
        height: calc(33.33% - 20px); /* Adjust for margins */
        max-width: 120px;
        max-height: 120px;
        margin: 10px; /* Space between tiles */
    }

    #start {
        width: 50%; /* Adjust button width for smaller screens */
        max-width: 150px;
    }
}

@media screen and (max-width: 480px) {
    #board {
        width: 90%; /* Responsive width */
        height: auto; /* Adjust height as needed */
        max-width: 300px; /* Maximum width for smallest screens */
        max-height: 300px; /* Maximum height for smallest screens */
    }

    #board div {
        width: calc(50% - 20px); /* Adjust for margins */
        height: calc(50% - 20px); /* Adjust for margins */
        max-width: 100px;
        max-height: 100px;
        margin: 10px; /* Space between tiles */
    }

    #start {
        width: 80%; /* Adjust button width for smallest screens */
        max-width: 120px;
    }
}
