body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(./images/wallpaper.jpg);
    background-size: cover;
    text-align:center;
    color: white;
}

#board {
    width: 540px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    background: url(./images/soil.png);
    background-size: cover;
    margin: 0 auto;
    border: 3px solid whitesmoke;
    border-radius: 30px;
}
#start {
    width: 100px;
    height: 30px;
    background-color: aliceblue;
    border: 3px solid white;
    border-radius: 30px;
    margin-bottom: 20px;
    
}
#board div {
    width: 180px;
    height: 180px;
    background-image: url(./images/hole.png);
    background-size: cover;
    
    
}

#board div img {
    width : 140px;
    height: 140px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
